body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c37;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
}

.card {
  background-color: #373d4b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


form {
  text-align: center;
  color: #81bc8e;
}

h1 {
  text-align: center;
  color: #55b16a;
}

h2 {
  text-align: center;
  color: #12cb3d;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
}

input {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #61dafb;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
  color: #282c37;
}

input:focus {
  border-color: #26561d;
}

button {
  background-color: #10a64a;
  color: #282c37;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #48e367;
}


body {
  margin: 0;
  overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#content {
    /* Additional styling for the content div */
    padding: 20px;
    color: #14ec95;
    box-sizing: border-box;
    z-index: 2; /* Ensure the content is above the background */

    /* Center the content */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center; /* Center text content horizontally */
}

#content h2 {
  color: #14ec95;
}

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; /* Ensure the form is above the canvas */
}

#matrix {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Ensure the canvas is behind the form */
}
